<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre tipo:</strong>
  <%= @tipo_lugar.nombre_tipo %>
</p>

<%= link_to 'Edit', edit_tipo_lugar_path(@tipo_lugar) %> |
<%= link_to 'Back', tipo_lugars_path %>
