<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nombre_transporte.nombre %>
</p>

<%= link_to 'Edit', edit_nombre_transporte_path(@nombre_transporte) %> |
<%= link_to 'Back', nombre_transportes_path %>
